<template>
    <div class="container">
        <div class="card-header">Question set by Class and Section</div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-sm btn-info" @click="addNew=true">Add New</button>
                        <div class="alert alert-success" role="alert" v-if="message">
                            {{message}}
                        </div>
                        <forms v-if="addNew" :set="set" @update="updateSets"></forms>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" v-for="(set, index) in sets" :key="index">{{set.title}}
                                <small class="nav-link float-right" @click="editSet(index)">Edit</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Forms from "./form";

    export default {
        name: "Class",
        components: {Forms},
        data() {
            return {
                sets: [],
                addNew: false,
                set: {
                    title: '',
                    classes: [],
                    sections: [],
                },
                message: ''
            }
        },
        created() {
            axios.get('/api/sets').then(({data}) => this.sets = data)
        },
        methods: {
            editSet(index) {
                axios.get('/api/sets/' + this.sets[index].id).then(({data}) => {
                    this.set = {
                        title: data.title,
                        sections: this.sectionIds(data),
                        classes: this.classIds(data),
                        id: data.id
                    };
                    this.addNew = true;
                })
            },
            sectionIds(data) {
                let ids = [];
                data.sections.forEach(value => {
                    ids.push(value.id);
                });
                return ids;

            },
            classIds(data) {
                let ids = [];
                data.sections.forEach(value => {
                    if (!ids.includes(value.class_id))
                        ids.push(value.class_id);
                });
                return ids;

            },
            updateSets: function (params) {
                this.addNew = false;
                let index = this.sets.findIndex(value => value.id === params.id);
                if (index !== -1) {
                    this.message = 'Question set update successfully ';
                } else {
                    this.sets.push(params);
                    this.message = 'Question set create successfully ';
                }

            }
        }
    }
</script>

<style scoped>
    small{
        cursor: pointer;
    }

</style>
