<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" v-if="questions[activeIndex]">
                <div class="card">
                    <div class="card-header">{{totalAnswered + ' '+skips.length}} Question {{activeIndex+1}}:
                        {{questions[activeIndex].title}}?
                    </div>
                    <div class="card-body">
                        <div class="alert-danger" v-if="answered"> Please checked at least one checkbox</div>

                        <ul>
                            <li class="form-check" v-for="option in questions[activeIndex].options">
                                <checkbox-option @checked="checkboxValue" :option="option"></checkbox-option>
                            </li>
                        </ul>
                        <button class="btn btn-light" @click="skipQuestion">later</button>
                        <button class="btn btn-success float-right" @click="checkNext">Next</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" v-if="skipQuestions.length">
                <h6>Skip Questions</h6>
                <div class="card">
                    <div class="card-header" v-for="skipQuestion in skipQuestions">{{skipQuestion.title}}?
                    </div>
                </div>
            </div>
            <div v-if="checkIsFinished && !questions[activeIndex] && !skipQuestions.length">
                <p>Thank you for finished</p>
            </div>
        </div>
    </div>

</template>

<script>
    import checkboxOption from "./Option";

    export default {
        components: {checkboxOption},
        data() {
            return {
                questions: [],
                activeIndex: 0,
                answers: [],
                skips: [],
                answered: false,
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created() {
            this.getQuestions();
        },
        methods: {
            getQuestions() {
                axios.get('/api/questions')
                    .then(({data}) => {
                        this.questions = data;
                        this.checkAlreadyAnswered();
                    })
            },
            checkNext() {
                this.answered = true;
                if (this.checkAnswered && this.checkIsFinished) {
                    axios.post('/api/question/' + this.activeId, {answer: this.answers[this.activeId]})
                        .then(({data}) => {
                            this.questions[this.activeIndex].answers = data;
                            this.answered = false;
                            this.activeIndex++;
                            this.checkAlreadyAnswered();
                        })
                        .catch((error) => {
                            console.log(error.response.data);
                        });
                }
            },
            checkboxValue: function (params) {
                let answer = this.answers[this.activeId];

                if (!answer)
                    answer = this.answers[this.activeId] = [];

                if (params.checked) {
                    answer.push(params.id);
                    this.answered = false;
                } else if (answer.includes(params.id)) {
                    answer.pop(params.id, 1);
                    this.answered = this.checkAnswered;
                }
            },
            skipQuestion() {
                if (this.checkIsFinished) {
                    this.skips.push(this.activeIndex);
                    this.activeIndex++;
                }
            },
            checkAlreadyAnswered() {
                if (this.questions[this.activeIndex] && this.questions[this.activeIndex].answers.length) {
                    this.activeIndex++;
                    this.checkAlreadyAnswered();
                }
            }
        },
        computed: {
            activeId() {
                return this.questions[this.activeIndex].id
            },
            checkAnswered() {
                console.log(this.answers[this.activeId], this.answers[this.activeId].length)
                return this.answers[this.activeId] && this.answers[this.activeId].length;
            },
            checkIsFinished() {
                let isFinished = this.questions.length >= this.activeIndex;
                console.log(this.questions.length ,this.activeIndex, this.skipQuestions.length)
                if (this.questions.length===this.activeIndex && this.skipQuestions.length) {
                    this.activeIndex = this.questions.findIndex(value => {
                        return value.id === this.skipQuestions[0].id
                    });
                    this.skips.pop(this.activeIndex, 1);
                }
                return isFinished;
            },
            totalAnswered() {
                return this.questions.filter(value => {
                    return value.answers && value.answers.length;
                }).length;

            },
            skipQuestions() {
                return this.questions.filter((value, key) => {
                    return this.skips.includes(key);
                });
            }
        }
    }
</script>
<style scoped>
    .card-body ul li {
        list-style: none;
    }
</style>
