<template>
    <div>
        <form @submit.prevent="submitSet">
            <div class="form-group">
                <template v-if="errors && errors.title">
                    <div class="alert alert-danger" role="alert" v-for="error in errors.title">
                        {{error}}
                    </div>
                </template>

                <label for="questionSet">Question set</label>
                <input type="text" v-model="set.title" class="form-control" id="questionSet"
                       placeholder="type a question set title">
            </div>
            <div class="form-group">
                <template v-if="errors && errors.classes">
                    <div class="alert alert-danger" role="alert" v-for="error in errors.classes">
                        {{error}}
                    </div>
                </template>

                <label for="classes">Select Class</label>
                <select v-model="set.classes" @change="getSections" multiple class="form-control"
                        id="classes" v-if="classes">
                    <option v-for="cls in classes" :value="cls.id">{{cls.title}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="section">Select Section</label>
                <select v-model="set.sections" multiple class="form-control"
                        id="section" v-if="sections">
                    <option v-for="section in sections" :value="section.id">{{section.title}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "form",
        props: ['set'],
        data() {
            return {
                classes: [],
                sections: [],
                errors: {}
            }
        },
        created() {
            this.getQuestions();
            if (this.set.classes)
                this.getSections();
        },
        methods: {
            getQuestions() {
                axios.get('/api/classes').then(({data}) => this.classes = data)
            },
            getSections() {
                if (this.set.classes.length)
                    axios.get('/api/sections/' + this.set.classes.join(','))
                        .then(({data}) => this.sections = data)

            },
            submitSet() {
                if (this.set.classes.length) {
                    axios.post('/api/sets/', this.set)
                        .then(({data}) => this.$emit("update", data))
                        .catch(error => this.errors = error.response.data.errors);
                }
            }
        }
    }
</script>

<style scoped>

</style>
