<template>
    <div>
        <input class="form-check-input"
               v-model="checkbox"
               type="checkbox"
               :true-value="option.id"
               :id="'check'+option.id">
        <label class="form-check-label" :for="'check' +option.id">
            {{option.title}}
        </label>
    </div>
</template>

<script>
    export default {
        props: ['option'],
        name: "Option",
        data() {
            return {
                checkbox: ''
            };
        },
        watch: {
            checkbox: function () {
                this.$emit("checked", {id: this.option.id, checked: this.checkbox});
            }
        }
    }
</script>

<style scoped>

</style>
