<template>
    <div class="col-md-8" v-if="question">
        <div class="card">
            <div class="card-header">Question: {{question.title}}?
            </div>
            <div class="card-body">
                <template v-if="errors && errors.answers">
                    <div class="alert alert-danger" role="alert" v-for="error in errors.answers">
                        {{error}}
                    </div>
                </template>
                <div class="alert alert-danger" v-if="isCheckedError"> Please checked at least one checkbox</div>
                <ul>
                    <li class="form-check" v-for="option in question.options">
                        <checkbox-option @checked="checkboxValue" :option="option"></checkbox-option>
                    </li>
                </ul>
                <button class="btn btn-light" @click="skipQuestion">later</button>
                <button class="btn btn-success float-right" @click="checkNext">Next</button>
            </div>
        </div>
    </div>
</template>

<script>
    import checkboxOption from "./Option";

    export default {
        components: {checkboxOption},
        props: ['question'],
        name: "Question",
        data() {
            return {
                answers: [],
                errors: {},
                isCheckedError: false,
            }
        },
        methods: {
            checkNext() {
                this.errors = {};
                if (this.answers.length) {
                    axios.post('/api/question/' + this.question.id, {answers: this.answers})
                        .then(({data}) => {
                            this.question.answers = data;
                            this.answers = []
                        })
                        .catch((error) => {
                            this.errors = error.response.data.errors;
                        });
                } else
                    this.isCheckedError = true;


            },
            checkboxValue: function (params) {
                if (params.checked) {
                    this.answers.push(params.id);
                } else if (this.answers.includes(params.id)) {
                    this.answers.pop(params.id, 1);
                }

                this.isCheckedError = !this.answers.length;

            },
            skipQuestion() {
                this.$emit("skip");
            },
        }
    }
</script>

<style scoped>

</style>
