<template>
    <div class="container">
            <div class="card-header">Question and Answer</div>
        <div class="row justify-content-center" v-if="questions.length">

            <question @skip="skipQuestion" :question.sync="question"></question>
            <div class="alert alert-success" role="alert" v-if="!question">
                Thank you for finished
            </div>
        </div>
    </div>
</template>

<script>
    import Question from "./Question";

    export default {
        name: "Questions",
        components: {Question},
        data() {
            return {
                questions: [],
                questionNumber: 1
            }
        },
        created() {
            this.getQuestions();
        },
        methods: {
            getQuestions() {
                axios.get('/api/questions').then(({data}) => this.questions = data)
            },
            skipQuestion() {
                this.questions[this.questions.indexOf(this.question)].skip = true;
                this.questions = this.questions.sort((a, b) => a.skip ? 1 : -1);
            }
        },
        computed: {
            question() {
                return this.questions.find((value, key) => {
                    return !value.answers.length
                })
            }

        }
    }
</script>

<style scoped>

</style>
